@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root {
  --font: Roboto;
  --regular-size: 3rem;
  --primary-font-color: #11425a;
  --primary-font-color-lighter: #2b4856;
  --secondary-blue: #0492ef;
  --third-blue: #c2dff6;
  --fourth-blue: #f6fafe;
}
html,
body {
  scroll-behavior: smooth;
}
html,
body,
a {
  text-transform: capitalize;
  font-family: var(--font) !important;
  color: var(--primary-font-color) !important;
  background-color: var(--fourth-blue);
}

.btn {
  font-size: 24px !important;
  font-family: var(--font) !important;
  font-weight: 500 !important;
  background-color: var(--fourth-blue) !important;
  color: var(--primary-font-color) !important;
  border: 3px var(--primary-font-color) solid !important;
  border-radius: 12px !important;
}
.btn:hover {
  color: var(--fourth-blue) !important;
  background-color: var(--primary-font-color) !important;
}
h1 {
  font-size: 3rem !important;
  font-weight: 600 !important;
}
#main-banner {
  padding-top: 7%;
}
#banner-text {
  position: absolute;
  z-index: 200;
}
.banner-image {
  width: 95%;
  height: 540px !important;
  display: block;
  margin: 0 auto;
}

.header-nav {
  /* padding-top: 1%; */
  display: flex;
  width: 98%;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #f6fafed3;
  position: fixed;
  text-align: center;
  margin-left: 1%;
  z-index: 200;
}
.header-nav > div {
  width: 30%;
  justify-content: space-between;
  display: flex;
}
.nav-tag {
  font-weight: 500 !important;
  font-size: 36px;
  text-decoration: none;
  color: var(--primary-font-color);
}
.nav-tag:hover {
  font-weight: 900 !important;
  color: var(--primary-font-color);
  border-bottom: 8px solid var(--primary-font-color);
}
.banner-btn {
  /* margin-top: -36px; */
  position: absolute;
  margin-left: 3%;
  display: flex;
  width: 25%;
  justify-content: space-between;
}
.banner-btn-cont {
  background-color: black;
}
/* scroll */
#scroll-btn {
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--fourth-blue);
}
.scroll-cont {
  background-color: var(--fourth-blue);
}
/* partners */
#partners-div {
  display: block !important;
  margin: 0 auto !important;
  font-weight: 400 !important;
  background-color: var(--fourth-blue);
}
#partners-div > h2 {
  font-weight: 400;
  text-align: center;
  font-size: 24px;
}
#partners {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
}
#partners > h2 {
  font-size: 24px;
  font-weight: 400;
}
#partners > h2:hover {
  font-weight: 600;
  cursor: pointer;
}

/* what we offer */
#about {
  background-color: var(--fourth-blue);
  padding-top: 42px;
  padding-bottom: 42px;
}
#about > h1 {
  width: 60%;
  text-align: right;
  margin: 0 auto;
}
#about > h2 {
  width: 60%;
  text-align: right;
  margin: 0 auto;
  font-size: 24px;
}
#row-0 {
  padding-top: 24px;
}
.row-item {
  padding: 36px;
  background-color: white;
  width: 400px;
  border-radius: 12px;
  box-shadow: var(--third-blue) -12px 12px 12px;
}
.row-item > h4 {
  font-size: 24px;
}
.row-item > h3 {
  font-weight: 900 !important;
}
.row-item > h2 {
  color: var(--secondary-blue);
  font-size: 28px;
}
.row-ls {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  margin-top: 36px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 36px;
  color: var(--secondary-blue);
}
/* advert */
.advert-cont {
  background-color: var(--fourth-blue);
}
.advert {
  display: block !important;
  padding-top: 24px;
  width: fit-content;
  margin: 0 auto !important;
  text-align: right;
  background-color: var(--fourth-blue);
}
.advert > h1 > span {
  padding-left: 32px;
  padding-right: 32px;
}
.highlight {
  /* font-size: 72px !important; */

  margin-right: -12px;

  display: inline;
  color: var(--fourth-blue);
  padding-left: 12px;
  padding-right: 24px;
  background-image: linear-gradient(
    112deg,
    transparent 9%,
    var(--primary-font-color) 9%,
    var(--primary-font-color) 90%,
    transparent 90%
  );
}
/* cycle */

.development-cycle {
  padding-top: 5%;
  background-color: var(--fourth-blue);
  margin-top: -2%;
}
.items {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 2%;
}
.items > h2:hover {
  cursor: pointer;
}

.cycle-expand {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.cycle-expand > img {
  width: 45%;
  box-shadow: var(--third-blue) -12px 12px 12px;
  border-radius: 24px;
}
.cycle-text {
  width: 50%;
}
#cycle-cont {
  background-color: var(--fourth-blue);
  padding-bottom: 5%;
  padding-top: 5%;
}
.plugin {
  text-align: center;
}
.active-cycle {
  font-weight: 800;
  border-bottom: 6px solid var(--primary-font-color);
}
/* customer experience */
.customers {
  background-color: var(--fourth-blue);
}
.customer-item {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  border-bottom: solid 6px var(--third-blue);
  padding-top: 32px;
  padding-bottom: 32px;
}
.customer-item > img {
  width: 40%;
  height: 40%;
  box-shadow: var(--third-blue) -12px 12px 12px;
  border-radius: 24px;
}
.item-text {
  width: 50%;
}
/* contact */
.contact-form {
  display: flex;

  justify-content: space-around;
  background-color: var(--fourth-blue);
  padding-bottom: 4%;
  padding-top: 5%;
}
.contact-left {
  /* display: flex; */

  justify-content: space-between;
  width: fit-content;
}

textarea {
  background-color: var(--color-three) !important;
  border: none;
}

input {
  background-color: var(--color-three) !important;
  border: none;
  border-bottom: 6px solid var(--color-one);
  color: var(--primary-font-color);
}
#inp-div {
  font-weight: 600;
  display: grid;
  font-size: 24px;
  border-bottom: 6px solid var(--fourth-blue);
}

#submit-btn {
  font-size: 2rem !important;
  text-transform: capitalize;
  position: relative;
  font-family: var(--font-main);
  font-weight: 600;
  border-radius: 12px;
  background-color: var(--color-one);
  color: var(--color-four);
  border: none;
  margin: 0 auto;
}
.contact-right {
  background-color: var(--third-blue);
  border-radius: 24px;
  box-shadow: var(--third-blue) -12px 12px 12px;
  padding: 36px;
}

/* scroll into view */
.fade {
  opacity: 1;
}
@keyframes shaker {
  0% {
    left: 200px;
  }
  100% {
    left: 1px;
  }
}
.shake {
  animation-name: 'shaker';
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* contact page */
@keyframes jump {
  0% {
    position: relative;
    bottom: 0px;
  }

  50% {
    position: relative;
    bottom: 36px;
  }
  100% {
    position: relative;
    bottom: 0px;
  }
}
.icon {
  width: 10%;
}
#left-contact {
  width: 45% !important;
}
.contact-img {
  margin-top: 7%;
  width: 90%;
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#contact-page {
  padding-top: 5% !important;
}
/* services */
.services {
  padding-top: 5%;
  background-color: var(--fourth-blue);
}
.services-middle {
  text-align: center;
}
.services-middle > h4,
h2 {
  width: 50%;
  margin: 0 auto;
}
.carousel-item {
  /* height: 50vh; */
  background-color: var(--fourth-blue);
  margin: 0 auto !important;
}
.carousel-item > img {
  min-height: 400px !important;
  max-height: 400px !important;
  max-width: 900px !important;
  min-width: 900px !important;
  background-color: var(--fourth-blue);
  margin: 0 auto !important;
}
.carousel-item {
  color: var(--primary-font-color) !important;
}
.pricing-cont {
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: var(--fourth-blue);
}
.tier-item {
  width: 25%;
  text-align: center;
  border: 6px solid var(--primary-font-color);
  padding-bottom: 3%;
  padding-top: 1%;
}
.prices {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.w-100 {
  /* max-height: ; */
}
/* about */
.about-container {
  padding-top: 5%;
  background-color: var(--fourth-blue);
}

.intro {
  padding-top: 2%;
  text-align: center;
}
.keywords {
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
  bottom: 0px;
}
.about-top {
  background-image: url('../images/about/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-top: -36px;
}
.about-top > h1,
div > h1 {
  font-size: 4.5rem !important;
  font-style: oblique;
}
.middle-keys {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
}
.key > h1 {
  font-size: 3rem !important;
  text-align: center;
}
.key > h2 {
  width: fit-content;
  text-align: center;
  border-bottom: 6px solid var(--primary-font-color);
}
.about-middle {
  padding-bottom: 5%;
}
#btn-top {
  background-color: transparent !important;
}
#btn-mid {
  margin-top: 36px !important;
}
#btn-top:hover {
  background-color: var(--primary-font-color) !important;
}
.brief-text {
  padding-top: 5%;
  width: 80% !important;
  text-align: center;
}
